name: Bot Test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2-beta
    - uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}
        node-version: '12'
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TOKEN: ${{ secrets.TOKEN_DISCORD }}
        CHANNELID: ${{ secrets.CHANNELID }}
        FETCHINTERVAL: ${{ secrets.FETCHINTERVAL }}
        TOKEN_ITJOBS: ${{ secrets.TOKEN_ITJOBS }}
    
    - name: Install npm
      run: npm install
    
    - name: test npm
      run: npm test
    
    - name: run npm app.js
      run: node src/app.js

    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "Add changes" -a
