name: Bot Test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.13'
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TOKEN: ${{ secrets.TOKEN_DISCORD }}
        CHANNELID: ${{ secrets.CHANNELID }}
        FETCHINTERVAL: ${{ secrets.FETCHINTERVAL }}
        TOKEN_ITJOBS: ${{ secrets.TOKEN_ITJOBS }}
    - run: npm install
    - run: cp .env.example .env
    - run: node src/app.js
